@page "/"

<PageTitle>Bus Ticket</PageTitle>

<h1>Hello,  Passenger</h1>

Welcome to your new app.

<SurveyPrompt />
@code{
    private string name="";
    
}
<Counter IncrementAmt="5" Name="Alapan Das"/>